* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

body {
    background-color: #D4AF37;
    position: relative;
    display: flex;
}

img {
    height: 25px;
}

.inventory-edit-container {
    margin: auto;
    background-color: white;
    padding: 60px 50px;
    border-radius: 10px;
    position: relative;
}

.inventory-edit-container a {
    position: absolute;
    top: 0;
    right: 0;
    margin: 10px;
}

.inventory-edit-table-container {border-collapse: collapse;}

.inventory-edit-table-container td {
    padding: 5px;
}

.head {
    font-weight: 600;
    font-size: 13px;
}

.head td {
    padding-top: 20px;
    padding-bottom: 0;
}

td input {
    width: 150px;
    height: 30px;
    outline: none;
    border: 1px solid black;
    padding-left: 5px;
}

.heading th{ border: 1px solid rgba(0, 0, 0, 0.192);}
.heading td{ border: 1px solid rgba(0, 0, 0, 0.192);}

.heading th {
    font-size: 20px;
    padding: 10px;
    color: #035A01;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.192);
}

.heading td input{
    width: 50px;
    text-align: center;
    padding: 0;
    color: #035A01;
    border: 1px solid #035A01;
}

.heading td {
    text-align: center;
}

.pro_code_name {
    font-weight: 500;
}

.pro_code_name td {border: 1px solid rgba(0, 0, 0, 0.192); text-align: center; color: red;}

.save-btn td{
    text-align: center;
}

.save-btn td input {
    border: 2px solid #035A01;
    color: #035A01;
    font-weight: 600;
    height: 35px;
    width: 120px;
    margin-top: 20px;
    cursor: pointer;
}