* {
    margin: auto;
    padding: auto;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.top-nav {
    display: flex;
    background-color: #D4AF37;
}

.top-nav img {
    width: 100px;
    height: 100px;
}

.top-nav a {
    height: 100px;
}

.top-nav h1 {
    font-size: 35px;
    letter-spacing: 1px;
    color: #FF0000;
}

.top-nav h5 {
    font-size: 15px;
}

/*----------------------------------*/
.side-nav {
    position: absolute;
    background-color: #D4AF37;
    height: 85.6vh;
    width: 250px;
}

.nav-links {
    position: relative;
    height: 50%;
    background-color: rebeccapurple;
}


.nav-links img {
    height: 25px;
    width: 25px;
}
