* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: poppins;
}

nav {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #D4AF37;
}

nav img {
    height: 25px;
}

.logo {
    height: 70px;
}

.store-name {
    font-size: 30px;
    font-weight: 800;
    letter-spacing: 2px;
    color: #FF0000;
}

nav h5 {
    font-size: 13px;
    font-weight: 500;
}

.name {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.name h3 {
    margin: 0px 10px;
}

/*Top nav end*/
.pos-container {
    padding: 10px;
    height: 89.9vh;
}

.main-pos {
    position: relative;
    background-color: rgb(236, 236, 236);
    border:1px solid #D4AF37;
    padding: 10px;
    width: 700px;
    height: 100%;
}

.search-table {
    margin: auto;
    width: 100%;
}

.search-table tr td {
    text-align: center;
}

.search-table input {
    height: 35px;
    outline: none;
    width: 300px;
    padding-left: 10px;
    border: 2px solid black;
}

.search-td {
    width: 396px;
    text-align: right !important;
}

.qty {
    text-align: left !important;
    width: 70px;
}

.qty input{
    width: 70px;
}

.btn {
    text-align: left !important;
}

.btn input{
    width: 100px;
    font-weight: 600;
    padding: 0;
    color: green;
    border: 2px solid green;
    cursor: pointer;
}

.btn input:hover {
    background-color: #035A01;
    color: white;
}

/*--------------------------*/

.receipt-container {
    position: relative;
    overflow: scroll;
    height: 65%;
}

.receipt-table {
    position: absolute;
    margin-top: 10px;
    width: 100%;
    overflow: auto;
    border-collapse: collapse;
    border: none;
}

.receipt-table th {
    background-color: #035A01;
    border: 2px solid white;
    color: white;
    font-size: 15px;
    font-weight: 500;
    padding: 5px 0px;
    position: sticky;
    top: 0;
}

.product-adding td {
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.product-adding td input {
    height: 30px;
    outline: none;
    text-align: center;
    border: 1px solid rgb(255, 255, 255);
}

.product_td input {
    width: 100%;
}

.meas_td input{
    width: 120px;
}

.price_td input {
    width: 100%;
}

.qty_td input {
    width: 80px;
    color: #FF0000;
    font-weight: 400;
}

.amount_td input {
    width: 100px;
    color: #035A01;
    font-weight: 500;
}

.action-btn {
    width: 60px;
    text-align: center;
}

.action-btn img {
    height: 20px;
}

.pos-btns-table {margin: auto;}

.pos-btns-table th{
    text-align: left;
    font-size: 12px;
    padding-top: 20px;
    color: #035A01;
}

.pos-btns-table td {
    width: 150px;
    height: 35px;
}
.pos-btns-table th {
    width: 150px;
    height: 35px;
}

.pos-btns-table input {
    width: 120px;
    height: 30px;
    text-align: right;
    font-size: 13px;
    border: 1px solid black;
    outline: none;
    padding-right: 5px;
    color: #000000;
    font-weight: 500;
}

.pos-btns-table .btn2 {
    width: 80px;
    height: 30px;
    border: 1px solid black;
    color: black;
    text-align: center;
    padding: 0;
    font-size: 15px;
    cursor: pointer;
}

.print {
    border: 1px solid #000000 !important;
    background-color: #035A01;
    color: white !important;
    font-weight: 600;
    font-size: 13px !important;
}

.settle {
    border: 1px solid #000000 !important;
    background-color: #035A01;
    color: white !important;
    font-weight: 600;
    font-size: 13px !important;
}

.compute {
    border: 1px solid #000000 !important;
    background-color: #035A01;
    color: white !important;
    font-weight: 600;
    font-size: 13px !important;
    width: 163px !important;
}

.cancel {
    background-color: red;
    padding: 6px 16px;
    padding-bottom: 3px !important;
    text-align: center;
    border: 1px solid black;
    font-weight: 600 !important;
    text-decoration: none;
    color: white;
    font-size: 13px;
}

.change-td input{
    background-color: black;
    color: #035A01;
    font-size: 15px;
}

.payment-td input {
    background-color: black;
    color: red;
    font-size: 15px;
}

.cust-id {
    text-align: center !important;
}

.cust-id input {
    width: 163px;
    text-align: center;
}

.payment-td input::-webkit-inner-spin-button,
.payment-td input::-webkit-outer-spin-button {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  margin: 0;
}

.right {
    text-align: right;
}

.compute-td {
    text-align: center;
}

.cancel {
    color: white !important;
    font-weight: 600 !important;
    font-size: 13px !important;
    padding: 0 !important;
}

/*-----------------------*/

.process-sales-container {
    background-color: #ffffff;
    width: 46.5%;
    position: absolute;
    top: 80px;
    right: 10px;
    height: 605px;
    border: 1px solid #D4AF37;
    overflow: scroll;
}

.process-sales-table {
    border-collapse: collapse;
    width: 100%;
}

.process-sales-table tr th{
    padding: 5px 10px;
    font-size: 11px;
    background-color: #D4AF37;
    color: white;
    position: sticky;
    top: 0;
    border-collapse: collapse;
    font-weight: 500;
}

.process-sales-table tr td {
    font-size: 11px;
    font-weight: 400;
    padding: 1px 5px;
    text-align: center;
    font-weight: 400 !important;
}

.sales th {
    color: #035A01 !important;
    font-size: 15px !important;
    font-weight: 800 !important;
}

.process-sales-table tr td a {
    color: #FF0000;
    font-weight: 500;
}